.home-container {
  padding: 50px 0px 0px 0px;
}

.my_self {
  padding: 20px;
  display: flex;
  background-color: var(--green-shade);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.home-content {
  width: 50%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--header-color);
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: var(--body-color);
  margin-bottom: 30px;
}

.highlight {
  color: var(--green-100);
  font-weight: bold;
}

.home-image {
  margin-top: 70px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px 10px 30px 5px;
  box-shadow: 0px 8px 16px var(--bg-color-shadow);
}

.my_skills {
  padding: 20px;
  background-color: var(--bg-color);
  margin-top: 20px;

}

.card-row {
  display: flex; 
 // justify-content: space-between;
  flex-wrap: nowrap;
}

.card-row app-card {
  flex: 1 1 calc(33.33% - 20px); /* Each card takes up 33.33% of the row's width */
  box-sizing: border-box;
  margin-right: 20px; /* Add margin between cards */
  margin-top: 50px;
}

.card-row app-card:last-child {
  margin-right: 0; /* Remove the margin for the last card */
}

@media (max-width: 1200px) {
  .home-container {
    padding-top: 60px;
  }

  .my_self {
    flex-direction: column;
  }

  .home-content,
  .home-image {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
  }

  .card-row {
    flex-wrap: wrap;
  }

  .card-row app-card {
  //  flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
    margin-right: 5px;
    margin-top: 40px;
  }
}

@media (max-width: 1020px) {


  .card-row {
    flex-wrap: wrap;
  }

  .card-row app-card {
    flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
   // margin-right: 5px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .home-container {
    padding-top: 5rem;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }

  .home-content,
  .home-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .my_self {
    text-align: center;
    padding: 15px;
  }

  .home-image {
    margin-top: 30px;
  }

  .my_skills {
    padding: 10px;
    margin-top: 10px;
  }

  .card-row {
    flex-wrap: wrap;
  }

  .card-row app-card {
    flex: 1 1 calc(50% - 10px); /* Two cards per row */
    margin-right: 5;
   // margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .home-container {
    padding-top: 5rem;
    flex-direction: column;
    text-align: center;
  }

  .home-content,
  .home-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .my_self {
    text-align: center;
    padding: 10px;
  }

  .home-image {
    margin-top: 30px;
  }

  .my_skills {
    margin-top: 20px;
  }

  .card-row {
    flex-wrap: wrap;
  }

  .card-row app-card {
    flex: 1 1 100%; /* Full width for smaller screens */
    margin-right: 0;
    margin-top: 10px;
  }
}
