.card {
    background-color: var(--green-shade);
    border-radius: 10px;
    box-shadow: 0px 4px 8px var(--bg-color-shadow);
    padding: 20px;
    text-align: start;
    height: 250px; /* Adjust height to be dynamic */
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0px 2px 0px var(--border-hover);
}

.card-logo {
    background-color: var(--bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Add spacing between logo and header */
}

.card-logo img {
    height: 20px;
    width: 20px; /* Ensure image is proportionate */
}

.card-header h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 10px 0;
    color: var(--header-color);
}

.card-body p {
    font-size: 0.9rem; /* Adjusted for better readability */
    color: var(--body-color);
}

.card-tools p {
    margin-top: 10px;
    font-size: 0.8rem; /* Slightly larger for better readability */
    color: var(--body-color);
}

.card-tools span {
    color: var(--text-hover);
}

/* Media Queries for Responsiveness */


@media (max-width: 1200px) {
    .card {
        height: 250px;
    }

    .card-header h2 {
        font-size: 1rem;
        
    }

    .card-body p {
        font-size: 0.8rem;
    }

    .card-tools p {
        font-size: 0.7rem;
    }
}

@media (max-width: 1020px) {
    .card {
        height: 250px;
    }

    .card-header h2 {
        font-size: 0.8rem;       
    
    }
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .card-header h2 {
        font-size: 0.9rem;
    }

    .card-body p {
        font-size: 0.8rem;
    }

    .card-tools p {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 10px;
    }

    .card-logo {
        width: 30px;
        height: 30px;
    }

    .card-logo img {
        height: 15px;
        width: 15px;
    }

    .card-header h2 {
        font-size: 0.8rem;
    }

    .card-body p {
        font-size: 0.7rem;
    }

    .card-tools p {
        font-size: 0.6rem;
    }
}
