<div class="aboutme-container">
  <div class="aboutme-image">
    <img src="../../../assets/images/MyPic.png" alt="My Picture" />
  </div>
  <div class="aboutme-content">
    <h2>About</h2>
    <h1>About Me</h1>
    <p>
      I am a Computer Engineering graduate with a strong background in software
      development and data analysis. Passionate about solving complex problems,
      I enjoy building efficient, user-centric applications and transforming
      data into actionable insights. I'm always eager to learn and collaborate
      on innovative projects where technology can make a positive impact.
    </p>

    <a
      href="../../../assets/documents/MyCV.pdf" 
      target="_blank"
      class="global-buttonb"
      >See My CV</a
    >
  </div>
</div>
