.aboutme-container {
  background-color: var(--green-shade);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  gap: 50px;
}

.aboutme-content {
  padding-right: 0;
  flex: 1;
}

h2 {
  font-size: 1.5rem;
  color: var(--header-color);
  margin-bottom: 10px;
}

h1 {

    font-size: 2rem;
  color: var(--body-color);
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.aboutme-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px 10px 30px 5px;
  box-shadow: 0px 8px 16px var(--bg-color-shadow);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .aboutme-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .aboutme-image {
    width: 70%;
  }

  .aboutme-content {
    width: 100%;
    padding: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .global-buttonb {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .aboutme-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .aboutme-image {
    width: 100%;
  }

  .aboutme-image img {
    width: 80%;
  }

  h1 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .global-buttonb {
    width: 100%;
    max-width: 150px;
    margin: 10px auto;
  }
}

