<div class="aboutme-container">


    <div class="aboutme-image">
        <img src="../../../assets/images/MyPic.png" alt="My Picture">
    </div>
     <div class="aboutme-content">
        <h1>About</h1>
        <p>About Me  </p>
         <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit non nulla in amet pellentesque.

Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.</h2>
        <a href="#mycv" class="global-buttonb">See My CV</a>
    </div>

</div>