<!-- Header -->
<app-navbar></app-navbar>

<!-- Wrapper -->
<div class="wrapper">
  <section id="home">
    <app-home></app-home>
  </section>


  <section id="about">
    <app-aboutme></app-aboutme>
  </section>

  <section id="portfolio">
    <app-portfolio></app-portfolio>
  </section>

    <section id="testimonials">
    <app-testimonial></app-testimonial>
  </section>

      <section id="contactme">
    <app-contactme></app-contactme>
  </section>

</div>

<!-- Footer -->
<app-footer></app-footer>
