<div class="footer">
  <div class="footer-first">
    <div class="footer-logo">
      <img src="../../../assets/images/wg.png" alt="Logo" class="logo-img" />
    </div>
    <ul #footerLinks class="footer-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About me</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
    </ul>
     <div class="footer-social-media">
      <li>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </div>
  </div>
  <!-- Additional footer content here -->
   <div class="footer-second">
    <hr>
 <p>© 2024 Fanalera. All rights reserved.</p>
   </div>
 
</div>
