.my-reviews {
  background-color: var(--green-shade);
  padding: 20px;
  position: relative;

  &.overlay-active {
    pointer-events: none; /* Disable interaction with the rest of the page */
    opacity: 1; /* Dim the rest of the page */
  }

  .my-header {
    h1 {
      font-size: 1rem;
      margin-bottom: 10px;
      color: var(--header-color);
    }

    p {
      font-size: 2rem;
      font-weight: 700;
      color: var(--body-color);
    }
  }

  .card-container {
    margin-top: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    pointer-events: auto; /* Re-enable interaction with the overlay itself */
  }
}
